# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
.venv/
venv/
env/
.pytest_cache/
.coverage

# C/C++
*.o
*.out
*.obj

# IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# Docs
*.pdf
*.md

# Logs
*.log
